.main_content {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.top_tab {
    line-height: 36px;
    background: #707070;
    text-align: right;
}

.top_tab a {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	margin-left: 15px;
}

.header_box {
	font-size: 0;
}

.logo {
	display: inline-block;
	padding: 21px 0;
}

.logo img {
	height: 60px;
}

.tab_list {
	line-height: 102px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.tab_item {
	display: inline-block;
	font-size: 18px;
	padding: 0 30px;
}

.tab_item:last-child {
	padding-right: 0;
}

.tab_item.active a {
	color: #d73a41;
}

.learn_more {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 14px;
}

.tool_model {
	position: fixed;
	right: 0;
	top: 80%;
	color: #fff;
	z-index: 1000;
}

.tool_item {
	position: relative;
	font-size: 0;
	cursor: pointer;
}

.tool_item + .tool_item {
	margin-top: 2px;
}

.tool_detail {
	position: absolute;;
	right: 100%;
	top: 0;
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	background: #d73a41;
	font-size: 14px;
	-webkit-transition: max-width .32s linear;
	-o-transition: max-width .32s linear;
	transition: max-width .32s linear;
}

.tool_detail.show {
	max-width: 300px;
}

.tool_detail.flex {
	height: 100%;
}

.tool_detail_box {
	min-height: 100%;
	padding: 0 20px;
}

.tool_detail.flex .tool_detail_box {
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

.tool_icon {
	position: relative;
	z-index: 2;
}

.tool_detail_box>p {
	line-height: 2;
}

.qq_list {
	text-align: left;
	line-height: 2;
}

.qq_chart_icon {
	width: 92px;
}