.main_help {
	background: #f8f8f8;
}

.main_help .main_content {
	background: #eee;
	padding-left: 200px;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.left_content {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	padding: 20px 0;
	text-align: center;
}

.help_logo {
	height: 114px;
}

.list_link {
	cursor: pointer;
	position: relative;
	line-height: 36px;
}

.list_link:hover,
.list_link.active {
	background: #ddd;
	color: #ff5a55;
}

.list_link:hover:after,
.list_link.active:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #ff5a55
}

.right_content {
	background: #fff;
}

.title {
    line-height: 42px;
    padding: 10px 0;
    color: #ff5a55;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 48px;
}

.content_box {
	padding: 30px;
	margin: 20px 0;
	color: #777;
}

.content_item.hide {
	display: none;
}