.bannre_box .swiper-slide {
	font-size: 0;
}

.banner_img {
	width: 100%;
}

.model + .model {
	margin-top: 20px;
}

.model_title {
	position: relative;
	text-align: center;
	font-weight: normal;
	line-height: 70px;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.model_title:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: #e8e8e8;
    background: -moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.09) 35%,rgba(0,0,0,.09) 70%,rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,0)),color-stop(35%,rgba(0,0,0,.09)),color-stop(70%,rgba(0,0,0,.09)),color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.09) 35%,rgba(0,0,0,.09) 70%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.09) 35%,rgba(0,0,0,.09) 70%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.09) 35%,rgba(0,0,0,.09) 70%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.09) 35%,rgba(0,0,0,.09) 70%,rgba(0,0,0,0) 100%);
}

.model_content {
	text-align: center;
	line-height: 1.6;
}

.dark_model {
	background-color: #fafafa;
    border-bottom: 1px solid #f3f3f3;
}

.company_content {
	width: 1100px;
	margin: 0 auto;
	font-size: 16px;
    line-height: 28px;
    color: #777;
    overflow: hidden;
    padding: 40px 0;
}

.company_img {
	width: 46%;
	margin-bottom: 10px;
	float: left;
}

.company_text {
	float: right;
	width: 50%;
	text-align: left;
	padding-top: 4%;
}

.company_intro_list {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 0 auto;
}

.company_intro_item {
	flex: 1;
	position: relative;
	background-color: #fafafa;
	width: 1%;
	text-align: center;
	padding: 25px;
	margin: 0 15px;
	border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    top: -30px;
    opacity: 0;
    -webkit-transition: opacity .8s, top .6s;
	-o-transition: opacity .8s, top .6s;
	transition: opacity .8s, top .6s;
}

.company_intro_item:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	right: 5%;
	height: 14px;
	z-index: -1;
	border-radius: 14px;
	opacity: 1;
	-webkit-box-shadow: 0 5px 7px #bbb;
	box-shadow: 0 5px 7px #bbb;
	-webkit-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}

.company_intro_item:hover:after {
	opacity: 0;
}

.intro_model_area.load .company_intro_item {
	top: 0;
	opacity: 1;
}

.company_intro_icon {
	width: 68px;
}

.company_intro_title {
	font-size: 19px;
	margin-bottom: 20px;
}

.desc {
	color: #777;
	margin-bottom: 15px;
}

.more_link {
	margin-bottom: 15px;
}

.more_link:hover {
	text-decoration: underline;
}

.news_model {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 20px;
	opacity: 0;
    -webkit-transition: opacity .8s;
	-o-transition: opacity .8s;
	transition: opacity .8s;
}

.news_model_area.load .news_model {
	opacity: 1;
}

.news_wrapper .swiper-slide {
	
	font-size: 0;
}

.news_img {
	width: 100%;
}

.news_content {
	color: #777;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	height: 110px;
	margin-bottom: 2px;
}

.news_content_box {
	padding: 10px;
	font-size: 14px;
	border: 1px solid #f1f1f1;
}

.partner_list {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	margin: 0 auto;
}

.partner_item {
	width: 17%;
	margin: 10px 4%;
}

.partner_item img {
	width: 100%;
}

.contact_model {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.left_content {
	width: 48%;
	text-align: left;
}

.pre {
	margin-bottom: 15px;
	color: #777;
}

.right_content {
	position: absolute;
	right: 0;
	top: 0;
	width: 48%;
	height: 100%;
}

.map {
	height: 100%;
}

.swiper-pagination-bullet-active {
	background: #333;
}

.swiper-button-prev,
.swiper-button-next {
	background: rgba(0, 0, 0, .5);
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	font-size: 30px;
}

.link_label_box {
	padding: 20px 0;
}

.link_label {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #777;
	font-size: 18px;
	border: 1px solid #777;
	width: 38px;
	line-height: 38px;
	border-radius: 38px;
	cursor: pointer;
	margin-right: 6px;
}

.link_label:hover {
	background: #e60012;
	color: #fff;
	border-color: #e60012;
}